<form class="emp-form" #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
<input type="hidden" name="EmployeeId" #EmployeeId="ngModel" [(ngModel)]="employeeservice.selectedEmployee.EmployeeId">

  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="FirstName" #FirstName="ngModel" [(ngModel)]="employeeservice.selectedEmployee.FirstName" placeholder="First Name" required>
      <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">This field is required.</div>
    </div>
    <div class="form-group col-md-6">
      <input name="LastName" class="form-control" #LastName="ngModel" [(ngModel)]="employeeservice.selectedEmployee.LastName" placeholder="Last Name" required>
      <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">This field is required.</div>
    </div>
  </div>
  <div class="form-group">
    <input name="Position" class="form-control" #Position="ngModel" [(ngModel)]="employeeservice.selectedEmployee.Position" placeholder="Position">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <input name="EmpCode" class="form-control" #EmpCode="ngModel" [(ngModel)]="employeeservice.selectedEmployee.EmpCode" placeholder="Employee Code">
    </div>
    <div class="form-group col-md-6">
      <input name="Office" class="form-control" #Office="ngModel" [(ngModel)]="employeeservice.selectedEmployee.Office" placeholder="Office">
    </div>
  </div>

<div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!employeeForm.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-floppy-o"></i>Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(employeeForm)"><i class="fa fa-repeat"></i>Reset</button>
    </div>
  </div>

</form>
